body{
    margin: 0;
    overflow-x: hidden;
}
#header{
    width: 100vw;
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: black;
    color: #f5f5f5;
    top: 0;
    z-index: 2;
}
.lines{
    width: 36px;
        /* height: px; */
        border: 0.125rem solid rgb(238, 231, 231);
        margin-bottom: 0.5rem;
}
#openNav{
    display: none;
    font-size: 18pt;
}
#closeNav{
    font-size: 3.5rem;
    display: none;
}



#nav ul{
    list-style: none;
    display: inline-flex;

}
#nav ul li{
    margin: 0.75rem;
}
#nav ul li a{
    text-decoration: none;
    color: white;
}
#dropdown{
    display: inline-block;
    position: relative;
    /* border: 2px solid red; */
}
#dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(60, 58, 58);
    /* z-index: 1; */
}
#dropdown-content a{
   /* display: block; */
   padding: 0.3rem  0.5rem;
   height: 25px;
   font-size: 9pt;
   margin: 5px 3px 5px 3px;
}
#dropdown-content a:hover{
    background-color: #6d6666;
}
#dropdown:hover #dropdown-content{
    display: flex;
    flex-direction: column;
    
}



#header input{
    align-self: center;
    margin-right: 2%;
    /* background-color: black; */
    height: 2rem;
}



/* Landing Section */
#home{
    /* background-image: url(la.jpg); */
    height: 100vh;
    color: white;
    position: relative;
    top: 2rem;
    
}
#sub_title{
    /* border: 2px solid red; */
    position: absolute;
    top: 80vh;
    left: 35vw;
}
.homebtn{
    background-color: aqua;
    color: blue;
    padding: 5px;
    border: none;
    border-radius: 4px;
}
.homebtn:hover{
    background-color: rgb(75, 170, 160);
    cursor: pointer;
}
#homeimg{
    width: 100vw;
}
#prev{
    position: absolute;
    top: 40vh;
    left: 0;
}
#next{
    position: absolute;
    top: 40vh;
    left: 96vw;
}

#band{
    margin: 5rem 15rem;
}
#band h1{
    color: rgb(51, 45, 45);
    font-weight: 400;
}
#band h4{
    color: gray;
    font-size: 9pt;
}
#band p{
    font-size: 10pt;
    line-height: 1.7;
}
#flex_div{
    margin-top: 4rem;
    display: flex;
  justify-content: space-between;
}
.flex_img{
    display: flex;
    flex-direction: column;
}
.flex_img img{
    border-radius: 0.4rem;
}
.flex_img center{
    margin-bottom: 1.5rem;
}

#tour{
    background-color: black;
    min-height: 100vh;
    color: white;

}
#tour_tickets{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 60vw;
    margin: 1.3rem 15rem;
}
#tickets{
    background-color: white;
    color: black;
    width: 60vw;
   
}
#tickets p{
    margin-left: 1.75rem;
}
#tickets span{
    background-color: red;

}
#p_flex{
    display: flex;
    justify-content: space-between;
}
#p_flex span{
    background-color: white;
}
#p_flex a{
    background-color: black;
    color: white;
    border-radius: 45%;
    padding: 5px;
    margin-right: 2.5rem;
}

#ticks_avail{
    margin: 4rem 0 4rem 0;
    display: flex;
    justify-content: space-around;
}
.avail{
    max-width: 17vw;
    background-color: white;
    color: black;
    /* border: 2px solid red; */
    /* border-radius: 0.75rem; */
}
.avail img{
    max-width: 100%;
}
.avail p{
    margin-left: 0.5rem;
}
.avail button{
    margin-left: 0.5rem;
    background-color: black;
    color: white;
    padding: 0.25rem;
    border: none;
    font-size: 7pt;
    margin-bottom: 0.5rem;
}
.pi{
    font-weight: 600;
}
.pii{
    color: gray;
}
#contact{
    background-color: white;
    /* border: 2px solid red; */
    width: 100vw;
}
#contact h1, #p_center{
    text-align: center;
}
#left{
    text-align: left;
}
#contact{
    margin-top: 2rem;
    margin-bottom: 0.75rem;
}
#contact_us{
    /* border: 2px solid red; */
    width: 50vw;
    margin: 1.5rem auto;
    display: flex;
    /* justify-content: ; */

}
#contact_form{
    margin-left: auto;

}
input{
    margin: 0.5rem;
    height: 1.5rem;
}

#input1{
    margin-left: 0;
}
#input2{
    margin-right: 0;
    /* margin-left: auto; */
}
#textarea{
    width: 99%;
}
#submit{
    position: relative;
    left: 380px;
    border: none;
    padding: 0.3rem;
    border-radius: 2px;
    background-color: black;
    color: white;
}
.inputs{
    width: 15vw;
}
#map{
    margin-top: 1.75rem;
    margin-bottom: 2rem;
}
#map img{
    width: 100vw;
    height: 600px;
}

#footer{
    text-align: center;
}
#footer a{
    color: grey;
}

@media(max-width:690px){
    #nav{
        display: none;
    }   
    header input{
        margin-left: auto;
    }
    #openNav{
        display: block;
        margin-left: 2%;
    }
    #closeNav{
        /* position: fixed; */
        /* top: -0.2rem; */
        /* right: 0; */
        /* z-index: 5; */
}